@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Phudu:wght@300..900&family=Jua&display=swap');

.logo-section-link,
.logo-section-link:visited {
  text-decoration: none;
  color: inherit;
}

.logo-section {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 300px;
  height: 300px;
  z-index: 10;
}

.logo-frame {
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 100px;
  height: 100px;
  background-blend-mode: darken;
  border-radius: 124px;
}

.logo-text-group {
  position: absolute;
  left: 70px;
  top: 20px;
}

.logo-title-kanji {
  font-family: 'Phudu', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 49px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  white-space: nowrap;
}

.logo-title-en {
  position: absolute;
  left: -40px;
  top: 40px;
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 62px;
  text-align: center;
  color: #000000;
}
