.terms-container {
    padding : 50px;
    color : #333;
    background: rgba(250, 245, 235, 1);
    margin : 50px auto;
    font-size : 18px;
    border-radius : 8px;
    text-align : center;
}

.terms-container h1, 
.terms-container h2 {
    color : #000;
    text-align: center;
}

.terms-container .notice {
    color : #e74c3c;
    font-weight : bold;
    text-align: center; 
}